<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { GLOBAL_COMPONENT_PREFIX as PREFIX } from '~/utils/configs'

export const COMPONENT_NAME = `${PREFIX}tabs`

export type TabProp = {
  key: string
  title: string
}

export default defineComponent({
  name: COMPONENT_NAME,

  props: {
    tabs: {
      type: Array as PropType<TabProp[]>,
      default: () => [],
    },
    tabsClass: {
      type: String,
      default: '',
    },
    tabItemClass: {
      type: String,
      default: '',
    },
    tabPanelClass: {
      type: String,
      default: '',
    },
    modelValue: {
      type: String,
      default: ({ tabs }: { tabs: TabProp[] }) => {
        return tabs[0] ? tabs[0].key : undefined
      },
    },
    showTabPanel: {
      type: Boolean,
      default: true,
    },
  },

  emits: ['update:modelValue', 'clickTab'],

  setup(props, { emit }) {
    const changeTab = (tab: string) => {
      emit('update:modelValue', tab)
    }

    return {
      COMPONENT_NAME,
      changeTab,
    }
  },
})
</script>

<template>
  <div :class="COMPONENT_NAME">
    <div :class="`${COMPONENT_NAME}__tabs ${tabsClass}`">
      <template v-for="tab in tabs" :key="tab.key">
        <slot name="render-tab" :tab="tab">
          <a
            :class="[
              `${COMPONENT_NAME}__tab-item`,
              tabItemClass,
              modelValue === tab.key
                ? 'font-bold border-sea hover:border-sea-active'
                : 'border-transparent',
            ]"
            href="#"
            @click.prevent="changeTab(tab.key)"
          >{{ tab.title }}</a>
        </slot>
      </template>
      <slot name="append-tab"></slot>
    </div>

    <template v-if="showTabPanel">
      <template v-for="tab in tabs" :key="tab.key">
        <div
          v-show="modelValue === tab.key"
          :class="`${COMPONENT_NAME}__tab-panel ${tabPanelClass}`"
        >
          <slot :name="tab.key" :tab="tab"></slot>
        </div>
      </template>
    </template>
  </div>
</template>

<style>
.v-tabs__tabs {
  @apply border-b border-grey-stroke mb-8;
}

.v-tabs__tab-item {
  @apply inline-block text-base text-sea leading-1.1 py-3 px-6 border-b-2 transition-colors hover:text-sea-active;
  white-space: nowrap;
}
</style>
