.v-pagination {
  @apply p-0 flex items-center flex-wrap;
}

.v-pagination__ul {
  @apply flex list-none p-0 m-0;
}

.v-pagination__item-link {
  @apply relative flex items-center justify-center tabular-nums text-center text-base font-bold transition-colors rounded-full;
  color: var(--pagination-color);
  background-color: var(--pagination-bg);
  min-width: 1.625rem;
  height: 1.625rem;

  &:hover {
    @apply underline;
    z-index: 2;
  }

  &:focus {
    z-index: 3;
    box-shadow: 0px 0px 4px #007aff;
  }
}

.v-pagination__item {
  &:not(:first-child) {
    margin-left: var(--pagination-margin);
  }

  &--dumb {
    @apply pointer-events-none;
  }

  &--current .v-pagination__item-link {
    z-index: 3;
    color: var(--pagination-active-color);
    background-color: var(--pagination-active-bg);
  }
}
