<script lang="ts">
import { defineComponent, ref, watch } from 'vue'
import IconStar from '~/assets/images/icons/star.svg?component'

type Stars = {
  value: number
  id: string
}[]

export default defineComponent({
  components: {
    IconStar,
  },

  props: {
    modelValue: {
      type: Number,
      default: 5,
      validator: (value: number) => value >= 0 && value <= 5,
    },
    name: {
      type: String,
      default: 'stars-' + +new Date(),
    },
  },

  emits: ['update:modelValue'],

  setup(props, { emit }) {
    let stars: Stars = []
    for (let i = 5; i > -1; i--) {
      stars = [...stars, { value: i, id: `${props.name}-${i}` }]
    }

    const localValue = ref(props.modelValue)

    watch(
      () => props.modelValue,
      (newValue) => {
        localValue.value = newValue
      }
    )

    watch(localValue, (newValue) => {
      emit('update:modelValue', newValue)
    })

    return {
      stars,
      localValue,
    }
  },
})
</script>

<template>
  <div class="rating-stars inline-block">
    <template v-for="star in stars" :key="star.id">
      <input
        :id="star.id"
        v-model="localValue"
        :value="star.value"
        :class="['hidden', { 'rating-stars__clear': star.value === 0 }]"
        type="radio"
      />
      <label
        :for="star.id"
        class="
          inline-block
          overflow-hidden
          whitespace-nowrap
          cursor-pointer
          px-2
        "
      >
        <IconStar v-if="star.value !== 0" class="icon transition-colors" />
      </label>
    </template>
  </div>
</template>

<style>
.rating-stars {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 0;
}

.rating-stars * {
  font-size: 1.625rem;
}

.rating-stars .icon {
  color: theme('colors.grey-stroke');
}

.rating-stars label:nth-of-type(5) {
  padding-left: 0;
}

.rating-stars__clear + label {
  width: 0.8125rem;
  height: 1em;
  margin-left: -0.8125rem;
  padding: 0;
}

.rating-stars > input:checked ~ label .icon,
.rating-stars + label:hover ~ label .icon,
.rating-stars + label:hover .icon {
  color: theme('colors.primary');
}

.rating-stars:hover > input + label .icon {
  color: theme('colors.grey-stroke');
}

.rating-stars:hover > input + label:hover ~ label .icon,
.rating-stars:hover > input + label:hover .icon {
  color: theme('colors.primary');
}
</style>
