.v-textarea {
  @apply bg-white border-2 border-forest-70 rounded-md text-primary text-17px flex items-center;
}

.v-textarea__input {
  @apply block relative border-0 bg-transparent focus:outline-none flex-auto min-w-0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: var(--input-btn-line-height);
}

.v-textarea__input::placeholder {
  /* opacity-100 - Override Firefox's unusual default opacity */
  @apply text-forest-70 opacity-100;
}

.v-textarea__input:disabled,
.v-textarea__input[readonly] {
  /* iOS fix for unreadable disabled content */
  @apply opacity-100;
}

/* Size md modifiers */
.v-textarea--md .v-textarea__input {
  padding: var(--input-btn-md-padding-y) var(--input-btn-md-padding-x);
  font-size: var(--input-btn-md-font-size);
}

.v-textarea--md .v-textarea__prepend {
  padding-left: var(--input-btn-md-padding-x);
}
.v-textarea--md .v-textarea__append {
  padding-right: var(--input-btn-md-padding-x);
}

/* Size lg modifiers */
.v-textarea--lg .v-textarea__input {
  padding: var(--input-btn-lg-padding-y) var(--input-btn-lg-padding-x);
  font-size: var(--input-btn-lg-font-size);
}

.v-textarea--lg .v-textarea__prepend {
  padding-left: var(--input-btn-lg-padding-x);
}
.v-textarea--lg .v-textarea__append {
  padding-right: var(--input-btn-lg-padding-x);
}

/* Size sm modifiers */
.v-textarea--sm .v-textarea__input {
  padding: var(--input-btn-sm-padding-y) var(--input-btn-sm-padding-x);
  font-size: var(--input-btn-sm-font-size);
  line-height: var(--input-btn-sm-line-height);
}

.v-textarea--sm .v-textarea__prepend {
  padding-left: var(--input-btn-sm-padding-x);
}
.v-textarea--sm .v-textarea__append {
  padding-right: var(--input-btn-sm-padding-x);
}

/* Validation modifiers */
.v-textarea--invalid {
  @apply border-error;
}

.v-textarea__append--valid {
  font-size: 1.6235rem;
}
