<script lang="ts">
import { defineComponent, computed, PropType } from 'vue'
import { GLOBAL_COMPONENT_PREFIX as PREFIX } from '~/utils/configs'

export const COMPONENT_NAME = `${PREFIX}checkbox`

export default defineComponent({
  name: COMPONENT_NAME,

  inheritAttrs: false,

  props: {
    modelValue: {
      type: Array as PropType<(string | number)[]>,
      default: () => [],
    },
    value: {
      type: [String, Number],
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    disabled: Boolean,
  },

  emits: ['update:modelValue'],

  setup(props, { emit }) {
    const computedValue = computed<(string | number)[]>({
      get() {
        return props.modelValue
      },
      set(value) {
        emit('update:modelValue', value)
      },
    })

    const isChecked = computed(() => computedValue.value.includes(props.value))

    return {
      COMPONENT_NAME,
      computedValue,
      isChecked,
    }
  },
})
</script>

<template>
  <label
    :class="[`${COMPONENT_NAME}`, $attrs.class, disabled && `${COMPONENT_NAME}--disabled`]"
  >
    <input
      v-model="computedValue"
      v-bind="$attrs"
      type="checkbox"
      :value="value"
      :class="`${COMPONENT_NAME}__input hidden`"
    />
    <span :class="`${COMPONENT_NAME}__checkmark`"></span>

    <slot>{{ label }}</slot>
  </label>
</template>

<style>
.v-checkbox {
  @apply inline-flex items-center cursor-pointer;
}

.v-checkbox__checkmark {
  @apply block relative border border-sea mr-2.5 rounded-sm bg-white;
  width: var(--checkbox-checkmark-size);
  height: var(--checkbox-checkmark-size);
  flex: 0 0 var(--checkbox-checkmark-size);
}

.v-checkbox__checkmark:before {
  content: '';
  @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-sm bg-white transition-all;
  width: 0;
  height: 0;
}

.v-checkbox__input:checked + .v-checkbox__checkmark {
  @apply bg-sea;
}

.v-checkbox__input:checked + .v-checkbox__checkmark:before {
  width: var(--checkbox-checkmark-inside-size);
  height: var(--checkbox-checkmark-inside-size);
}

.v-checkbox--disabled {
  @apply opacity-50 pointer-events-none;
}
</style>
