.v-spinner {
  @apply inline-block relative;
  animation: v-spinner-circle-1 4.8s linear infinite;
  width: var(--spinner-size);
  height: var(--spinner-size);

  .v-spinner__spin {
    height: var(--spinner-size);
    width: var(--spinner-size);
    clip: rect(
      0,
      var(--spinner-size),
      var(--spinner-size),
      calc(var(--spinner-size) / 2)
    );

    &:after {
      height: var(--spinner-size);
      width: var(--spinner-size);
      clip: rect(
        0,
        var(--spinner-size),
        var(--spinner-size),
        calc(var(--spinner-size) / 2)
      );
      border-width: calc(var(--spinner-size) / 10);
    }
  }
}

.v-spinner__spin {
  @apply block absolute top-0 left-0 right-0 bottom-0 m-auto;
  animation: v-spinner-circle-2 1.2s linear infinite;

  &:after {
    content: '';
    @apply absolute top-0 left-0 right-0 bottom-0 m-auto rounded-full border-solid;
    animation: v-spinner-circle-3 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  }
}

/* Modifiers */
.v-spinner--primary {
  .v-spinner__spin:after {
    border-color: theme('colors.primary');
  }

  .v-spinner__text {
    color: theme('colors.primary');
  }
}

.v-spinner--white {
  .v-spinner__spin:after {
    border-color: theme('colors.white');
  }

  .v-spinner__text {
    color: theme('colors.white');
  }
}

.v-spinner--sm {
  width: var(--spinner-size-sm);
  height: var(--spinner-size-sm);

  .v-spinner__spin {
    height: var(--spinner-size-sm);
    width: var(--spinner-size-sm);
    clip: rect(
      0,
      var(--spinner-size-sm),
      var(--spinner-size-sm),
      calc(var(--spinner-size-sm) / 2)
    );

    &:after {
      height: var(--spinner-size-sm);
      width: var(--spinner-size-sm);
      clip: rect(
        0,
        var(--spinner-size-sm),
        var(--spinner-size-sm),
        calc(var(--spinner-size-sm) / 2)
      );
      border-width: 2px;
    }
  }
}

.v-spinner--lg {
  width: var(--spinner-size-lg);
  height: var(--spinner-size-lg);

  .v-spinner__spin {
    height: var(--spinner-size-lg);
    width: var(--spinner-size-lg);
    clip: rect(
      0,
      var(--spinner-size-lg),
      var(--spinner-size-lg),
      calc(var(--spinner-size-lg) / 2)
    );

    &:after {
      height: var(--spinner-size-lg);
      width: var(--spinner-size-lg);
      clip: rect(
        0,
        var(--spinner-size-lg),
        var(--spinner-size-lg),
        calc(var(--spinner-size-lg) / 2)
      );
      border-width: calc(var(--spinner-size-lg) / 10);
    }
  }
}

/* Keyframes */
@keyframes v-spinner-circle-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes v-spinner-circle-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(220deg);
  }
}

@keyframes v-spinner-circle-3 {
  0% {
    transform: rotate(-140deg);
  }
  50% {
    transform: rotate(-160deg);
  }
  100% {
    transform: rotate(140deg);
  }
}
