.v-button {
  @apply inline-block font-sans font-bold text-center no-underline align-middle cursor-pointer select-none transition duration-150 border-2 border-transparent rounded-md;
  line-height: var(--input-btn-line-height);
}

.v-button:hover,
.v-button:active {
  @apply underline;
}

.v-button:focus {
  box-shadow: 0px 0px 4px #007aff;
}

.v-button[disabled],
.v-button:disabled {
  @apply pointer-events-none opacity-70;
}

/* Primary modifiers */
.v-button--primary {
  @apply text-white bg-primary;
}

.v-button--primary:hover,
.v-button--primary:active {
  @apply text-white;
}

.v-button--primary:active {
  @apply bg-forest-70;
}

/* Blue modifiers */
.v-button--blue {
  @apply text-white bg-sea;
}

.v-button--blue:hover,
.v-button--blue:active {
  @apply text-white;
}

.v-button--blue:active {
  @apply bg-sea-active;
}

/* Secondary modifiers */
.v-button--secondary {
  @apply text-primary bg-secondary;
}

.v-button--secondary:hover,
.v-button--secondary:active {
  @apply text-primary;
}

.v-button--secondary:active {
  @apply bg-peach-active;
}

.v-button--secondary[disabled],
.v-button--secondary:disabled {
  @apply opacity-80;
}

/* Outline modifiers */
.v-button--outline {
  @apply bg-transparent border-primary text-primary;
}

.v-button--outline:hover,
.v-button--outline:active {
  @apply text-forest-70;
}

.v-button--outline:active {
  @apply border-forest-70 text-forest-70;
}

/* Outline Blue modifiers */
.v-button--outline-blue {
  @apply bg-transparent border-primary;
}

.v-button--outline-blue:hover,
.v-button--outline-blue:active {
  @apply text-sea-active;
}

.v-button--outline-blue:active {
  @apply border-sea-active text-sea-active;
}

/* Outline Primary modifiers */
.v-button--outline-secondary {
  @apply bg-transparent border-secondary text-white;
}

/* Outline Primary modifiers */
.v-button--outline-grey-stroke {
  @apply bg-transparent border-grey-stroke text-sea;
}

/* Shape circle modifiers */
.v-button--circle {
  @apply rounded-full;
}

/* Shape square modifiers */
.v-button--square {
  @apply rounded-none;
}

/* Size md modifiers */
.v-button--md {
  padding: var(--input-btn-md-padding-y) var(--input-btn-md-padding-x);
  font-size: var(--input-btn-md-font-size);
}

/* Size lg modifiers */
.v-button--lg {
  padding: var(--input-btn-lg-padding-y) var(--input-btn-lg-padding-x);
  font-size: var(--input-btn-lg-font-size);
}

/* Size sm modifiers */
.v-button--sm {
  padding: var(--input-btn-sm-padding-y) var(--input-btn-sm-padding-x);
  font-size: var(--input-btn-sm-font-size);
  line-height: var(--input-btn-sm-line-height);
}

/* Breakpoints modifiers */
@media (min-width: theme('screens.xl')) {
  .v-button--xl-md {
    padding: var(--input-btn-md-padding-y) var(--input-btn-md-padding-x);
    font-size: var(--input-btn-md-font-size);
  }

  .v-button--xl-lg {
    padding: var(--input-btn-lg-padding-y) var(--input-btn-lg-padding-x);
    font-size: var(--input-btn-lg-font-size);
  }

  .v-button--xl-sm {
    padding: var(--input-btn-sm-padding-y) var(--input-btn-sm-padding-x);
    font-size: var(--input-btn-sm-font-size);
    line-height: var(--input-btn-sm-line-height);
  }
}
