<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PageAlert',
})
</script>

<template>
  <h2 class="mb-8">Alert</h2>

  <table>
    <thead>
      <tr>
        <td class="p-2"></td>
        <td class="p-2">Alert</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="p-2">Secondary</td>

        <td class="p-2">
          <v-alert size="lg">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae,
            nobis!
          </v-alert>
        </td>
      </tr>

      <tr>
        <td class="p-2">Blue</td>

        <td class="p-2">
          <v-alert variant="blue" size="lg">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae,
            nobis!
          </v-alert>
        </td>
      </tr>

      <tr>
        <td class="p-2">White</td>

        <td class="p-2">
          <v-alert variant="white" size="lg">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae,
            nobis!
          </v-alert>
        </td>
      </tr>

      <tr>
        <td class="p-2">Error</td>

        <td class="p-2">
          <v-alert variant="error" size="lg">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae,
            nobis!
          </v-alert>
        </td>
      </tr>

      <tr>
        <td class="p-2">Success</td>

        <td class="p-2">
          <v-alert variant="success" size="lg">
            <div>
              <h6>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae,
                nobis!
              </h6>
              <p class="mt-2">description</p>
            </div>
          </v-alert>
        </td>
      </tr>
    </tbody>
  </table>
</template>
