<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PageButton',
})
</script>

<template>
  <h2 class="mb-8">Button</h2>

  <table>
    <thead>
      <tr>
        <td class="p-2"></td>
        <td class="p-2">Button</td>
        <td class="p-2">Disabled</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="p-2">Large</td>

        <td class="p-2">
          <v-button size="lg" loading @click="$router.push({ path: '/welcome' })">Button</v-button>
        </td>

        <td class="p-2">
          <v-button size="lg" disabled @click="$router.push({ path: '/welcome' })">Button</v-button>
        </td>
      </tr>

      <tr>
        <td class="p-2">Medium</td>

        <td class="p-2">
          <v-button loading @click="$router.push({ path: '/welcome' })">Button</v-button>
        </td>

        <td class="p-2">
          <v-button disabled @click="$router.push({ path: '/welcome' })">Button</v-button>
        </td>
      </tr>

      <tr>
        <td class="p-2">Small</td>

        <td class="p-2">
          <v-button size="sm" loading>Button</v-button>
        </td>

        <td class="p-2">
          <v-button size="sm" disabled>Button</v-button>
        </td>
      </tr>

      <tr>
        <td class="p-2">Blue (default)</td>

        <td class="p-2">
          <v-button size="sm">Button</v-button>
        </td>

        <td class="p-2">
          <v-button size="sm" disabled>Button</v-button>
        </td>
      </tr>

      <tr>
        <td class="p-2">Primary</td>

        <td class="p-2">
          <v-button variant="primary" size="sm">Button</v-button>
        </td>

        <td class="p-2">
          <v-button variant="primary" size="sm" disabled>Button</v-button>
        </td>
      </tr>

      <tr>
        <td class="p-2">Secondary</td>

        <td class="p-2">
          <v-button variant="secondary" size="sm">Button</v-button>
        </td>

        <td class="p-2">
          <v-button variant="secondary" size="sm" disabled>Button</v-button>
        </td>
      </tr>

      <tr>
        <td class="p-2">Outline</td>

        <td class="p-2">
          <v-button variant="outline" size="sm" loading>Button</v-button>
        </td>

        <td class="p-2">
          <v-button variant="outline" size="sm" disabled>Button</v-button>
        </td>
      </tr>

      <tr class="bg-primary text-white">
        <td class="p-2">Outline secondary</td>

        <td class="p-2">
          <v-button variant="outline-secondary" size="sm">Button</v-button>
        </td>

        <td class="p-2">
          <v-button variant="outline-secondary" size="sm" disabled>Button</v-button>
        </td>
      </tr>
    </tbody>
  </table>
</template>
