<script lang="ts">
import { defineComponent } from 'vue'
import RecipeCard from '~/components/card/RecipeCard.vue'
import StoryCard from '~/components/card/StoryCard.vue'
import LearnCard from '~/components/card/LearnCard.vue'
import recipeImg from '~/assets/images/temp/recipe.png'
import storyImg1 from '~/assets/images/temp/story-card-1.png'
import CreatorCard from '~/components/card/CreatorCard.vue'
import avatarImage from '~/assets/images/temp/avatar-100x100.png'

export default defineComponent({
  name: 'PageCards',

  components: {
    RecipeCard,
    StoryCard,
    LearnCard,
    CreatorCard,
  },

  setup() {
    return {
      recipeImg,
      storyImg1,
      avatarImage,
    }
  },
})
</script>

<template>
  <h2 class="mb-8">Cards</h2>

  <div class="grid grid-cols-4 gap-5 mb-16">
    <div>
      <h5 class="mb-4">Recipe Card</h5>
      <RecipeCard
        :img="recipeImg"
        title="Middle-Eastern Cauliflower with almonds & goji"
        time="40min"
        author-name="Andy Allen"
      />
    </div>

    <div>
      <h5 class="mb-4">Story Card</h5>
      <StoryCard
        item-id="1"
        :img="storyImg1"
        title="The perfect fire"
        time="3min read"
        author-name="Chef name"
        color="sea"
      />
    </div>

    <div>
      <h5 class="mb-4">Learn Card</h5>
      <LearnCard
        item-id="1"
        title="How to butterly a chicken"
        time="3min read"
        author-name="Chef name"
      />
    </div>

    <div>
      <h5 class="mb-4">Story Card</h5>
      <StoryCard
        item-id="1"
        :img="storyImg1"
        title="The perfect fire"
        time="3min read"
        author-name="Chef name"
        color="sea"
      />
    </div>
  </div>

  <h5 class="mb-4">Creator Card</h5>
  <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-x-5 gap-y-8">
    <CreatorCard
      v-for="i in 3"
      :key="i"
      class="text-primary"
      :img="avatarImage"
      name="Wynona Davies"
      job="Modern Australian"
      :is-follow="i % 2 !== 0"
    />
    <CreatorCard
      v-for="i in 3"
      :key="i"
      class="text-primary"
      :img="avatarImage"
      name="Wynona Davies"
      job="Modern Australian"
      :is-follow="i % 2 !== 0"
      :show-update-number="true"
      :show-job="false"
      :show-follow-button="false"
    />
    <CreatorCard
      v-for="i in 3"
      :key="i"
      class="text-primary"
      :img="avatarImage"
      name="Wynona Davies"
      job="Modern Australian"
      :is-follow="i % 2 !== 0"
      :show-follow-button="false"
    />
  </div>
</template>
