<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'PageCheckbox',

  setup() {
    const checkboxModel = ref([])

    return {
      checkboxModel,
    }
  },
})
</script>

<template>
  <h2 class="mb-8">Checkbox</h2>

  <table>
    <tbody>
      <tr>
        <td class="p-2">Checkbox</td>
        <td class="p-2">
          <v-checkbox v-model="checkboxModel" :value="0"
            >Show as 8oz</v-checkbox
          >
          <br />
          <v-checkbox v-model="checkboxModel" :value="1"
            >Show as 250g</v-checkbox
          >
        </td>
      </tr>

      <tr>
        <td class="p-2">Disabled</td>
        <td class="p-2">
          <v-checkbox v-model="checkboxModel" :value="0" disabled
            >Show as 8oz</v-checkbox
          >
          <br />
          <v-checkbox v-model="checkboxModel" :value="1" disabled
            >Show as 250g</v-checkbox
          >
        </td>
      </tr>
    </tbody>
  </table>
</template>
