<script lang="ts">
import { defineComponent } from 'vue'
import ShapeCarrotMushroom from '~/assets/images/shapes/mushroom-carrot.svg?component'
import ShapeBasilNut from '~/assets/images/shapes/basil-nut.svg?component'

export default defineComponent({
  name: 'PageEmpty',

  components: {
    ShapeCarrotMushroom,
    ShapeBasilNut,
  },
})
</script>

<template>
  <h2 class="mb-8">Empty</h2>

  <v-empty
    class="py-10"
    title="I’m currently prepping."
    desc="Start following me to get notified as soon as new content is posted."
  >
    <v-link class="inline-block mt-6" tag="router-link" to="/"
      >Browse ...</v-link
    >
  </v-empty>

  <v-empty
    class="py-10"
    title="I’m currently prepping."
    desc="Start following me to get notified as soon as new content is posted."
  >
    <template #image>
      <ShapeCarrotMushroom />
    </template>
    <v-link class="inline-block mt-6" tag="router-link" to="/"
      >Browse ...</v-link
    >
  </v-empty>

  <v-empty
    class="py-10"
    title="I’m currently prepping."
    desc="Start following me to get notified as soon as new content is posted."
  >
    <template #image>
      <ShapeBasilNut />
    </template>
    <v-link class="inline-block mt-6" tag="router-link" to="/"
      >Browse ...</v-link
    >
  </v-empty>

  <v-empty
    class="py-10"
    title="I’m currently prepping."
    desc="Start following me to get notified as soon as new content is posted."
    orientation="vertical"
  >
    <template #image>
      <ShapeBasilNut />
    </template>
    <v-link class="inline-block mt-6" tag="router-link" to="/"
      >Browse ...</v-link
    >
  </v-empty>
</template>
