<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'PageInput',

  setup() {
    const nameInput = ref('')

    return {
      nameInput,
    }
  },
})
</script>

<template>
  <h2 class="mb-8">Input</h2>

  <table>
    <thead>
      <tr>
        <td class="p-2">Input</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="p-2">
          <v-input v-model="nameInput" placeholder="Lorem ipsum" />
        </td>
      </tr>
      <tr>
        <td class="p-2">
          <v-input placeholder="Lorem ipsum" size="sm" />
        </td>
      </tr>
      <tr>
        <td class="p-2">
          <v-input placeholder="Lorem ipsum" size="lg" />
        </td>
      </tr>
      <tr>
        <td class="p-2">
          <v-input placeholder="Lorem ipsum" size="lg" prepend="$" />
        </td>
      </tr>
      <tr>
        <td class="p-2">
          <v-input placeholder="Lorem ipsum" size="lg" append="kg" />
        </td>
      </tr>
      <tr>
        <td class="p-2">
          <v-input placeholder="Lorem ipsum" size="lg" :valid="true" />
        </td>
      </tr>
      <tr>
        <td class="p-2">
          <v-input placeholder="Lorem ipsum" size="lg" :valid="false" />
        </td>
      </tr>
    </tbody>
  </table>
</template>
