<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PageLink',
})
</script>

<template>
  <h2 class="mb-8">Link</h2>

  <v-link href="#">See more</v-link>
</template>
