<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'PageModal',

  setup() {
    const modalVisible = ref(false)

    return {
      modalVisible,
    }
  },
})
</script>

<template>
  <h2 class="mb-8">Modal</h2>

  <v-button @click="modalVisible = !modalVisible">Toggle modal</v-button>
  <v-modal v-model="modalVisible" title="Modal Title">Test</v-modal>
</template>
