<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'PagePagination',

  setup() {
    const currentPage = ref(1)

    return {
      currentPage,
    }
  },
})
</script>

<template>
  <h2 class="mb-8">Pagination</h2>

  <table>
    <tbody>
      <tr>
        <td class="p-2">Pagination</td>
        <td class="p-2">
          <v-pagination v-model="currentPage" :page-size="12" :total="100" />
        </td>
      </tr>
    </tbody>
  </table>
</template>
