<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'PageRadio',

  setup() {
    const radioModel = ref(0)

    return {
      radioModel,
    }
  },
})
</script>

<template>
  <h2 class="mb-8">Radio</h2>

  <table>
    <tbody>
      <tr>
        <td class="p-2">Radio</td>
        <td class="p-2">
          <v-radio v-model="radioModel" :value="0">Show as 8oz</v-radio>
          <br />
          <v-radio v-model="radioModel" :value="1">Show as 250g</v-radio>
        </td>
      </tr>

      <tr>
        <td class="p-2">Disabled</td>
        <td class="p-2">
          <v-radio v-model="radioModel" :value="0" disabled
            >Show as 8oz</v-radio
          >
          <br />
          <v-radio v-model="radioModel" :value="1" disabled
            >Show as 250g</v-radio
          >
        </td>
      </tr>
    </tbody>
  </table>
</template>
