<script lang="ts">
import { defineComponent } from 'vue'
import CardSkeleton from '~/components/card/CardSkeleton.vue'

export default defineComponent({
  name: 'PageSkeleton',

  components: {
    CardSkeleton,
  },
})
</script>

<template>
  <h2 class="mb-8">Skeleton</h2>

  <table class="w-full">
    <thead>
      <tr>
        <td class="p-2">Skeleton</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="p-2">
          <v-skeleton class="mb-1 w-1/5"></v-skeleton>
          <v-skeleton class="mb-1 h-20"></v-skeleton>
          <v-skeleton class="mb-1"></v-skeleton>
          <v-skeleton class="mb-1"></v-skeleton>
        </td>
      </tr>
      <tr>
        <td class="p-2">
          <v-skeleton class="mb-1" variant="forest-70"></v-skeleton>
          <v-skeleton class="mb-1" variant="forest-70"></v-skeleton>
          <v-skeleton class="mb-1" variant="forest-70"></v-skeleton>
          <v-skeleton class="mb-1" variant="forest-70"></v-skeleton>
        </td>
      </tr>
      <tr>
        <td class="p-2">
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-5">
            <CardSkeleton />
            <CardSkeleton />
            <CardSkeleton />
            <CardSkeleton />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>
