<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PageSpinner',
})
</script>

<template>
  <h2 class="mb-8">Spinner</h2>

  <table>
    <thead>
      <tr>
        <td class="p-2">Spinner</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="p-2"><v-spinner size="md"></v-spinner></td>
      </tr>
      <tr>
        <td class="p-2"><v-spinner size="sm"></v-spinner></td>
      </tr>
      <tr>
        <td class="p-2"><v-spinner size="lg"></v-spinner></td>
      </tr>
    </tbody>
  </table>
</template>
