<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'PageSwitch',

  setup() {
    const nameInput = ref('')

    return {
      nameInput,
    }
  },
})
</script>

<template>
  <h2 class="mb-8">Switch</h2>

  <table>
    <thead>
      <tr>
        <td class="p-2">Switch</td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Normal</td>
        <td class="p-2">
          <v-switch v-model="nameInput" />
        </td>
      </tr>
      <tr>
        <td>Disabled</td>
        <td class="p-2">
          <v-switch size="lg" disabled />
        </td>
      </tr>
    </tbody>
  </table>
</template>
