<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PageTypography',
})
</script>

<template>
  <h2 class="mb-8">Typography</h2>

  <h1 class="h1 mb-8">H1 • Gazpacho bold</h1>
  <h2 class="h2 mb-8">H2 • Gazpacho bold</h2>
  <h3 class="h3 mb-8">H3 • Gazpacho bold</h3>
  <h4 class="h4 mb-8">H4 • Gazpacho bold</h4>
</template>
