<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({})
</script>

<template>
  <v-skeleton class="card-skeleton rounded-lg"></v-skeleton>
</template>

<style scoped>
.card-skeleton {
  height: 399px;
  box-shadow: 0px 0px 8px rgba(14, 37, 58, 0.11);
}
</style>
