<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({})
</script>

<template>
  <div class="flex items-center pb-4 xl:pb-6 border-b border-grey-stroke">
    <v-skeleton
      class="creator-avatar w-20 h-20 flex-shrink-0 mr-6 rounded-full"
    ></v-skeleton>

    <div class="flex-grow">
      <v-skeleton class="mb-6 w-2/3"></v-skeleton>
      <v-skeleton class="w-1/2"></v-skeleton>
    </div>
  </div>
</template>

<style scoped>
@media (min-width: theme('screens.xl')) {
  .creator-avatar {
    width: 6.25rem;
    height: 6.25rem;
  }
}
</style>
