<script lang="ts">
import { defineComponent, ref, watch } from 'vue'
import IconCheck from '~/assets/images/icons/check.svg?component'

export default defineComponent({
  components: {
    IconCheck,
  },

  props: {
    img: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    },
    id: {
      type: [Number, String],
      default: '',
    },
    job: {
      type: String,
      default: '',
    },
    showJob: {
      type: Boolean,
      default: true,
    },
    isFollow: Boolean,
    showFollowButton: {
      type: Boolean,
      default: true,
    },
    followLoading: Boolean,
    updateNumber: {
      type: Number,
      default: 0,
    },
    showUpdateNumber: {
      type: Boolean,
      default: false,
    },
  },

  emits: ['follow', 'unFollow'],

  setup(props, { emit }) {
    const innerIsFollow = ref(props.isFollow)
    const innerFollowLoading = ref(props.followLoading)

    watch(
      () => props.isFollow,
      (newValue) => {
        innerIsFollow.value = newValue
      },
      { immediate: true }
    )

    watch(
      () => props.followLoading,
      (newValue) => {
        innerFollowLoading.value = newValue
      },
      { immediate: true }
    )

    const changeStatusFollow = (isFollow: boolean) => {
      innerIsFollow.value = isFollow
      innerFollowLoading.value = false
    }

    const handleClickFollow = () => {
      innerFollowLoading.value = true
      emit(
        innerIsFollow.value ? 'unFollow' : 'follow',
        props.id,
        changeStatusFollow
      )
    }

    return {
      innerIsFollow,
      innerFollowLoading,
      handleClickFollow,
    }
  },
})
</script>

<template>
  <div class="flex items-center pb-4 xl:pb-6 border-b border-grey-stroke">
    <router-link
      :to="`/creators/${id}`"
      class="creator-avatar w-20 h-20 flex-shrink-0 mr-6"
    >
      <img
        class="w-full h-full object-cover rounded-full bg-loading"
        :src="img"
        :alt="name"
      />
    </router-link>

    <div class="flex-grow">
      <h4 class="font-sans leading-1.15 mb-1">
        <router-link :to="`/creators/${id}`" class="text-current">
          {{ name }}
        </router-link>
      </h4>

      <template v-if="showUpdateNumber">
        <div class="flex text-sm mt-1">
          <span
            class="
              inline-flex
              items-center
              justify-center
              text-primary
              rounded-full
              w-5
              h-5
              text-xs
              align-middle
              bg-lemon
              mr-1
              font-bold
            "
            >{{ updateNumber }}</span
          >&nbsp;
          <span>Updates</span>
        </div>
      </template>

      <div
        v-if="showJob"
        class="text-sm text-forest-70 opacity-80 leading-1.1 mt-1"
      >
        {{ job }}
      </div>

      <template v-if="showFollowButton">
        <v-button
          class="flex items-center mt-2"
          size="sm"
          :variant="innerIsFollow ? 'primary' : 'outline-blue'"
          :loading="innerFollowLoading"
          @click="handleClickFollow"
        >
          <IconCheck v-if="innerIsFollow" class="icon-stroke text-lg" />
          <span :class="innerIsFollow ? 'hidden xl:inline ml-2.5' : ''">{{
            innerIsFollow ? 'Following' : 'Follow'
          }}</span>
        </v-button>
      </template>
    </div>
  </div>
</template>

<style scoped>
@media (min-width: theme('screens.xl')) {
  .creator-avatar {
    width: 6.25rem;
    height: 6.25rem;
  }
}
</style>
