<script lang="ts">
import { defineComponent, ref, watch } from 'vue'
import IconBookmark from '~/assets/images/icons/bookmark.svg?component'

export default defineComponent({
  components: {
    IconBookmark,
  },

  props: {
    to: {
      type: [String, Object], // Vue-router prop. Denotes the target route of the link.
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    time: {
      type: [String, Number],
      default: '',
    },
    authorName: {
      type: String,
      default: '',
    },
    authorId: {
      type: [String, Number],
      default: '',
    },
    bookmark: Boolean,
    itemId: {
      type: [String, Number],
      required: true,
    },
  },

  emits: ['save'],

  setup(props) {
    const isBookmark = ref(props.bookmark)

    return {
      isBookmark,
    }
  },
})
</script>

<template>
  <article class="learn-card">
    <div class="relative pt-4 pb-2 px-3.5">
      <h3 class="text-xl xl:text-2xl line-clamp-3 leading-1.15 mb-4">
        <router-link class="text-current" :to="to">{{ title }}</router-link>
      </h3>
      <div class="text-17px">
        <span>{{ time }}min watch</span>
        • by
        <router-link class="text-current" :to="`/creators/${authorId}`">{{ authorName }}</router-link>
      </div>
    </div>

    <div class="pt-6 pb-2 px-3.5 mt-auto text-right">
      <v-button class="ml-auto px-2 -mr-2 text-lemon" variant="default" size="sm">
        <IconBookmark :class="[isBookmark ? 'icon' : 'icon-stroke', 'text-2xl']" />
      </v-button>
    </div>
  </article>
</template>

<style scoped>
.learn-card {
  @apply relative flex flex-col text-white bg-primary bg-no-repeat border-2 border-forest-70 rounded-lg overflow-hidden;
  height: 399px;
  background-image: url("~/assets/images/shapes/flower-and-basil.svg");
  background-position: left 13px bottom 18px;
}
</style>
