<script lang="ts">
import { defineComponent, ref } from 'vue'
import IconPlay from '~/assets/images/icons/play.svg?component'
import IconBookmark from '~/assets/images/icons/bookmark.svg?component'

export default defineComponent({
  components: {
    IconPlay,
    IconBookmark,
  },

  props: {
    to: {
      type: [String, Object], // Vue-router prop. Denotes the target route of the link.
      default: '',
    },
    img: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    time: {
      type: [String, Number],
      default: '',
    },
    authorName: {
      type: String,
      default: '',
    },
    authorId: {
      type: [String, Number],
      default: '',
    },
    bookmark: {
      type: Boolean,
      default: false,
    },
    itemId: {
      type: [String, Number],
      required: true,
    },
  },

  emits: ['save'],

  setup(props) {
    const isBookmark = ref(props.bookmark)

    return {
      isBookmark,
    }
  },
})
</script>

<template>
  <article class="recipe-card flex flex-col bg-white rounded-lg overflow-hidden">
    <figure class="relative flex-shrink-0">
      <router-link :to="to">
        <img class="recipe-image w-full object-cover bg-loading" :src="img" :alt="title" />
      </router-link>
      <v-button
        class="absolute left-2 bottom-2 z-10 w-10 h-10 p-0 text-4xl"
        variant="outline"
        shape="circle"
      >
        <IconPlay class="icon-stroke" />
      </v-button>
    </figure>

    <div class="recipe-text flex-grow flex flex-col pt-4 pb-2 px-3.5">
      <h3 class="text-xl xl:text-2xl line-clamp-3 leading-1.15">
        <router-link :to="to">{{ title }}</router-link>
      </h3>

      <div class="flex items-center mt-auto">
        <div class="text-forest-70 text-17px">
          <span>{{ time }}min</span>
          • by
          <router-link :to="`/creators/${authorId}`">{{ authorName }}</router-link>
        </div>

        <v-button class="ml-auto px-2 -mr-2" variant="default" size="sm">
          <IconBookmark :class="[isBookmark ? 'icon' : 'icon-stroke', 'text-2xl']" />
        </v-button>
      </div>
    </div>
  </article>
</template>

<style scoped>
.recipe-card {
  height: 399px;
  box-shadow: 0px 0px 8px rgba(14, 37, 58, 0.11);
}

.recipe-image {
  height: 254px;
}

.recipe-text {
  box-shadow: inset 0px -1px 0px #f0eddc, inset 1px 0px 0px #f0eddc,
    inset -1px 0px 0px #f0eddc;
}

@media (min-width: theme("screens.xl")) {
  .recipe-image {
    height: 235px;
  }
}
</style>
