<script lang="ts">
import { defineComponent, PropType } from 'vue'
import ArrowRight from '~/assets/images/icons/arrow-right.svg?component'

export type SeasonCardDirection = 'vertical' | 'horizontal'

export default defineComponent({
  components: {
    ArrowRight,
  },

  props: {
    to: {
      type: [String, Object], // Vue-router prop. Denotes the target route of the link.
      default: '',
    },
    direction: {
      type: String as PropType<SeasonCardDirection>,
      default: 'vertical',
    },
    img: {
      type: String,
      default: '',
    },
    category: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    linkText: {
      type: String,
      default: '',
    },
    authorName: {
      type: String,
      default: '',
    },
    authorAvatar: {
      type: String,
      default: '',
    },
    authorId: {
      type: String,
      default: '',
    },
  },
})
</script>

<template>
  <article
    class="season-card leading-1.15"
    :class="[
      `season-card--${direction}`,
      direction === 'horizontal' && 'md:flex md:items-center',
    ]"
  >
    <figure
      class="image-wrapper"
      :class="
        direction === 'vertical' ? 'relative mb-6 xl:mb-8' : 'flex-shrink-0'
      "
    >
      <router-link class="block w-full h-full" :to="to">
        <img
          class="object-cover bg-loading"
          :class="
            direction === 'vertical'
              ? 'absolute top-0 left-0 w-full h-full'
              : 'season-card__img-horizontal'
          "
          :src="img"
          :alt="title"
        />
      </router-link>
    </figure>

    <div class="flex flex-col" :class="direction !== 'vertical' && 'flex-grow'">
      <span class="inline-block uppercase text-xs tracking-0.2 mb-3 xl:mb-4">
        {{ category }}
      </span>

      <h3 class="title line-clamp-2 mb-4">
        <router-link class="text-current" :to="to">{{ title }}</router-link>
      </h3>

      <router-link :to="`/creators/${authorId}`" class="flex items-center">
        <img
          class="w-10 h-10 rounded-full mr-2"
          :src="authorAvatar"
          :alt="authorName"
        />
        <strong>by {{ authorName }}</strong>
      </router-link>

      <router-link
        :to="to"
        class="
          flex
          justify-between
          items-center
          pt-1
          border-t border-grey-stroke
          mt-3
          xl:mt-6
        "
      >
        <span class="mr-4">{{ linkText }}</span>
        <v-button
          class="carousel-arrow px-0 py-0 w-10 h-10"
          variant="default"
          shape="circle"
        >
          <ArrowRight class="icon-stroke mx-auto" />
        </v-button>
      </router-link>
    </div>
  </article>
</template>

<style scoped>
.season-card--vertical .image-wrapper {
  padding-top: 77.3869346734%;
}

.title {
  font-size: 1.625rem;
}

.carousel-arrow {
  font-size: 26px;
}

@media (max-width: 767px) {
  .season-card--horizontal .image-wrapper {
    @apply relative mb-6;
    padding-top: 77.3869346734%;
  }
  .season-card__img-horizontal {
    @apply absolute top-0 left-0 w-full h-full;
  }
}

@media (min-width: theme('screens.md')) {
  .season-card__img-horizontal {
    width: 19.6875rem;
    height: 15.25rem;
  }

  .season-card--horizontal .image-wrapper {
    @apply mr-5;
  }
}

@media (min-width: theme('screens.xl')) {
  .title {
    font-size: 2.375rem;
  }

  .season-card__img-horizontal {
    width: 24.875rem;
    height: 19.25rem;
  }
}
</style>
