<script lang="ts">
import { defineComponent, PropType, ref, watch } from 'vue'
import IconBookmark from '~/assets/images/icons/bookmark.svg?component'
import Bubble from '~/assets/images/shapes/story-card-bubble.svg?component'

export type StoryCardColors = 'sea' | 'neutral' | 'primary'

export default defineComponent({
  components: {
    IconBookmark,
    Bubble,
  },

  props: {
    to: {
      type: [String, Object], // Vue-router prop. Denotes the target route of the link.
      default: '',
    },
    img: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    time: {
      type: [String, Number],
      default: '',
    },
    authorName: {
      type: String,
      default: '',
    },
    authorId: {
      type: [String, Number],
      default: '',
    },
    color: {
      type: String as PropType<StoryCardColors>,
      default: 'sea',
    },
    bookmark: {
      type: Boolean,
      default: false,
    },
    itemId: {
      type: [String, Number],
      required: true,
    },
  },

  emits: ['save'],

  setup(props) {
    const isBookmark = ref(props.bookmark)

    return {
      isBookmark,
    }
  },
})
</script>

<template>
  <article class="story-card relative text-white rounded-lg overflow-hidden">
    <figure class="w-full h-full">
      <router-link class="block w-full h-full" :to="to">
        <img class="w-full h-full object-cover loading" :src="img" :alt="title" />
      </router-link>
    </figure>

    <div class="absolute top-0 left-0 w-full h-full z-10 flex flex-col">
      <div class="relative pt-4 pb-2 px-3.5">
        <Bubble :class="['absolute left-0 top-0 w-full  ', `text-${color}`]" />

        <span
          class="story-category inline-block relative uppercase text-xs leading-1.15 mb-3"
        >Food Story</span>
        <h3 class="relative text-xl xl:text-2xl line-clamp-3 leading-1.15">
          <router-link class="text-current" :to="to">{{ title }}</router-link>
        </h3>
      </div>

      <div class="text-bottom relative flex items-center pt-6 pb-2 px-3.5 mt-auto">
        <div class="text-17px">
          <span>{{ time }}min read</span>
          • by
          <router-link class="text-current" :to="`/creators/${authorId}`">{{ authorName }}</router-link>
        </div>

        <v-button class="ml-auto px-2 -mr-2 text-lemon" variant="default" size="sm">
          <IconBookmark :class="[isBookmark ? 'icon' : 'icon-stroke', 'text-2xl']" />
        </v-button>
      </div>
    </div>
  </article>
</template>

<style scoped>
.story-card {
  height: 399px;
  box-shadow: 0px 0px 8px rgba(14, 37, 58, 0.11);
}

.text-bottom {
  background: linear-gradient(360deg, #2d2727 0%, rgba(45, 39, 39, 0) 100%);
}

.story-category {
  letter-spacing: 0.2em;
}
</style>
