<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { GLOBAL_COMPONENT_PREFIX as PREFIX } from '~/utils/configs'
import DefaultShape from '~/assets/images/shapes/citrus-algae.svg?component'

export enum EmptyOrientation {
  HORIZONTAL = 'horizontal',
  VERTICAL = 'vertical',
}

export const COMPONENT_NAME = `${PREFIX}empty`

export default defineComponent({
  name: COMPONENT_NAME,

  components: {
    DefaultShape,
  },

  props: {
    title: {
      type: String,
      default: 'Nothing to see yet.',
    },
    desc: {
      type: String,
      default: '',
    },
    orientation: {
      type: String as PropType<EmptyOrientation>,
      default: EmptyOrientation.HORIZONTAL,
    },
  },

  setup() {
    return {
      COMPONENT_NAME,
      EmptyOrientation,
    }
  },
})
</script>

<template>
  <div
    :class="[
      COMPONENT_NAME,
      'flex flex-col',
      orientation === EmptyOrientation.HORIZONTAL
        ? 'xl:flex-row xl:items-center'
        : 'items-center text-center',
    ]"
  >
    <div
      :class="[
        'flex-shrink-0',
        orientation === EmptyOrientation.HORIZONTAL
          ? 'mb-3 xl:mb-0 xl:mr-8'
          : 'mb-3 xl:mb-7',
      ]"
    >
      <slot name="image">
        <DefaultShape />
      </slot>
    </div>

    <div>
      <slot v-if="title || $slots.title" name="title">
        <div :class="`${COMPONENT_NAME}__title font-bold leading-1.15 mb-3`">
          {{ title }}
        </div>
      </slot>
      <slot v-if="desc || $slots.desc" name="desc">
        <div class="text-17px">{{ desc }}</div>
      </slot>
      <slot />
    </div>
  </div>
</template>

<style>
.v-empty__title {
  font-size: 1.75rem;
}
</style>
