<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({})
</script>

<template>
  <div
    class="
      loading-overlay
      left-0
      top-0
      right-0
      bottom-0
      flex
      items-center
      justify-center
      bg-black bg-opacity-30
    "
  >
    <v-spinner></v-spinner>
    <slot />
  </div>
</template>

<style>
.loading-overlay {
  @apply absolute;
}
</style>
