<script lang="ts">
import { defineComponent } from 'vue'
import { useRouter } from 'vue-router'
import IconArrowLeft from '~/assets/images/icons/arrow-left.svg?component'

export default defineComponent({
  components: {
    IconArrowLeft,
  },

  props: {
    text: {
      type: String,
      default: '',
    },
    textPath: {
      type: String,
      default: '',
    },
    showOtherLink: {
      type: Boolean,
      default: true,
    },
    isCustomBack: {
      type: Boolean,
      default: false,
    }
  },

  emits: ['back'],

  setup(props, { emit }) {
    const router = useRouter()

    const handleClick = () => {
      if (props.isCustomBack) {
        emit('back')
      } else {
        router.go(-1)
      }
    }

    return {
      handleClick,
    }
  },
})
</script>

<template>
  <slot>
    <nav class="flex items-center" v-bind="$attrs">
      <v-button
        class="arrow inline-flex items-center"
        size="xs"
        variant="white"
        @click="handleClick"
      >
        <IconArrowLeft class="inline-block icon-stroke mr-2" />
        <slot name="text" />
      </v-button>

      <slot v-if="showOtherLink" name="otherLink" :text="text" :textPath="textPath">
        <router-link class="text-base font-bold text-current" :to="textPath">
          {{
            text
          }}
        </router-link>
      </slot>
    </nav>
  </slot>
</template>

<style scoped>
.arrow {
  font-size: 1.625rem;
}
</style>
