<script lang="ts">
import { defineComponent } from 'vue'
import Logo from '~/assets/images/logo.svg?component'
import IconInstagram from '~/assets/images/icons/instagram.svg?component'
import IconFacebook from '~/assets/images/icons/icon-facebook.svg?component'
import IconLinkedin from '~/assets/images/icons/linkedin.svg?component'
import IconTiktok from '~/assets/images/icons/tiktok.svg?component'
import GooglePlay from '~/assets/images/google-play.svg?component'
import AppStore from '~/assets/images/app-store.svg?component'

export default defineComponent({
  components: {
    Logo,
    IconInstagram,
    IconFacebook,
    IconLinkedin,
    IconTiktok,
    GooglePlay,
    AppStore,
  },
})
</script>

<template>
  <footer class="the-footer bg-primary bg-no-repeat text-white mt-auto">
    <div class="container pt-20 pb-7">
      <Logo class="footer-logo text-white" />

      <div class="xl:grid xl:grid-cols-6 xl:gap-6 mb-12">
        <div class="col-span-2 mt-2.5 xl:mt-5 mb-8 xl:mb-0">
          <p class="text-17px mb-5 xl:mb-8">
            A community of foodies where everyone’s rewarded for what they bring
            to the table. After all, food should bring people together.
          </p>

          <ul class="mb-3 xl:mb-4">
            <li class="inline-block mr-6">
              <a class="footer-social" href="#" target="_blank">
                <IconInstagram class="text-white" />
              </a>
            </li>
            <li class="inline-block mr-6">
              <a class="footer-social" href="#" target="_blank">
                <IconFacebook class="text-white" />
              </a>
            </li>
            <li class="inline-block mr-6">
              <a class="footer-social" href="#" target="_blank">
                <IconLinkedin class="text-white" />
              </a>
            </li>
            <li class="inline-block mr-6">
              <a class="footer-social" href="#" target="_blank">
                <IconTiktok class="text-white" />
              </a>
            </li>
          </ul>

          <div class="flex flex-wrap items-center">
            <a class="google-play mr-2" href="#" target="_blank">
              <GooglePlay />
            </a>
            <a href="#" target="_blank">
              <AppStore />
            </a>
          </div>
        </div>
      </div>

      <div class="text-sm">© Adash 2021</div>
    </div>
  </footer>
</template>

<style scoped>
.the-footer {
  background-image: url("~/assets/images/shapes/algae-apple.svg"),
    url("~/assets/images/shapes/citrus-lemon.svg");
  background-position: right 31px top 332px, right 149px top 45px;
  background-size: 110px 108px, 35px;
}

.footer-logo {
  width: 116px;
  height: 38px;
}

.footer-social {
  @apply flex items-center justify-center w-11 h-11 rounded-full;
  background-color: #405b5e;
}

.google-play {
  @apply block;
  margin-left: -10px;
}

.footer-menu li {
  @apply mb-7;
}
.footer-menu a {
  @apply text-white font-bold;
}

@media (min-width: theme("screens.xl")) {
  .the-footer {
    background-position: left calc(((100vw - 1240px) / 2) + 442px) top 227px,
      right 95px top 40px;
    background-size: 176px 135px, 46px;
  }

  .footer-logo {
    width: 185px;
    height: 60px;
  }
}
</style>
