<script lang="ts">
import { defineComponent, ref, watch } from 'vue'
import Logo from '~/assets/images/logo.svg?component'
import IconBurger from '~/assets/images/icons/burger.svg?component'
import IconSearch from '~/assets/images/icons/search.svg?component'
import IconClose from '~/assets/images/icons/close.svg?component'
import { useRouter, useRoute } from 'vue-router'

export default defineComponent({
  components: {
    Logo,
    IconBurger,
    IconSearch,
    IconClose,
  },

  setup() {
    const route = useRoute()
    const router = useRouter()
    const showSearchEntry = ref(false)
    const showMenuMb = ref(false)

    watch([() => route.path, () => route.query], () => {
      showSearchEntry.value = false
      showMenuMb.value = false
    })

    return {
      route,
      router,
      showSearchEntry,
      showMenuMb,
    }
  },
})
</script>

<template>
  <header
    class="the-header fixed top-0 left-0 w-full flex items-center py-2.5 bg-white z-30 xl:py-0"
  >
    <div class="container flex items-center">
      <router-link to="/" class="block mr-4 xl:mr-16 text-primary hover:text-primary">
        <Logo class="the-header__logo block" />
      </router-link>

      <nav
        class="the-header__nav fixed top-0 right-0 bottom-0 left-0 max-w-full flex flex-col font-sans transition-opacity z-30 xl:block xl:visible xl:opacity-100 xl:static"
        :class="showMenuMb ? 'visible opacity-100' : 'invisible opacity-0'"
      >
        <div
          class="absolute top-0 right-0 bottom-0 left-0 bg-black bg-opacity-30 xl:hidden"
          :class="showMenuMb ? 'block' : 'hidden'"
          @click="showMenuMb = false"
        ></div>

        <ul
          class="the-header__menu absolute right-0 top-0 bottom-0 z-10 h-full overflow-y-auto flex flex-col font-bold bg-white w-80 transform transition-transform xl:transform-none xl:static xl:bg-transparent xl:w-auto xl:block"
          :class="showMenuMb ? 'translate-x-0' : 'translate-x-full'"
        >
          <li class="ml-auto xl:hidden py-3 px-6">
            <v-button class="text-xl px-1 py-1" variant="white" @click="showMenuMb = false">
              <IconClose class="icon-stroke" />
            </v-button>
          </li>
        </ul>
      </nav>

      <div class="ml-auto flex items-center">
        <v-button
          class="btn-search-mobile text-3xl p-0 ml-5 xl:hidden"
          :class="{ active: showSearchEntry }"
          variant="white"
          @click="showSearchEntry = !showSearchEntry"
        >
          <IconSearch class="icon-stroke" />
        </v-button>

        <v-button
          class="text-3xl p-0 ml-4 xl:hidden"
          variant="white"
          @click="showMenuMb = !showMenuMb"
        >
          <IconBurger class="icon-stroke" />
        </v-button>
      </div>
    </div>
  </header>

  <div class="the-header__height"></div>
</template>

<style scoped>
.the-header {
  box-shadow: 0px 0px 8px rgba(14, 37, 58, 0.11);
  height: 62px;
}

.the-header__height {
  height: 62px;
}

.the-header__logo {
  width: 116px;
  height: 38px;
}

.the-header__nav :deep(a:hover),
.the-header__nav :deep(a.router-link-active) {
  border-bottom-color: theme("colors.sea");
  color: theme("colors[sea-active]");
}

.btn-search-mobile {
  @apply relative focus:shadow-none;

  &::before {
    content: "";
    @apply absolute left-0 w-full h-0;
    border-top: 3px solid transparent;
    bottom: -14px;
  }

  &.active::before {
    border-color: theme("colors.sea");
  }
}

@media (min-width: theme("screens.xl")) {
  .the-header,
  .the-header__height {
    height: 70px;
  }

  .the-header__nav :deep(a) {
    @apply block border-transparent;
    border-top-width: 3px;
    border-bottom-width: 3px;
    padding: 22px 0;
  }

  .the-header__logo {
    width: 185px;
    height: 60px;
  }
}

@media (min-width: theme("screens.2xl")) {
  .the-header__nav :deep(a) {
    padding: 26px 0;
  }

  .the-header,
  .the-header__height {
    height: 78px;
  }
}
</style>
