<script lang="ts">
import { defineComponent } from '@vue/runtime-core'

export default defineComponent({
  props: {
    totalSteps: {
      type: Number,
      default: 1,
    },
    step: {
      type: Number,
      default: 1,
    },
  },
})
</script>

<template>
  <div class="no-auth-step relative h-1 bg-secondary rounded overflow-hidden">
    <div
      class="
        no-auth-step__inprogress
        absolute
        top-0
        left-0
        h-1
        bg-neutral
        rounded
        z-10
      "
      :style="{ width: `${(100 / totalSteps) * step}%` }"
    ></div>
  </div>
</template>

<style scoped>
.no-auth-step {
  width: 133px;
}
</style>
