<script lang="ts">
import { defineComponent } from 'vue'
import { useRouter } from 'vue-router'
import Logo from '~/assets/images/logo.svg?component'
import LogoSm from '~/assets/images/logo-sm.svg?component'
import TheNoAuthHeaderStep from './TheNoAuthHeaderStep.vue'
import IconClose from '~/assets/images/icons/close.svg?component'

export default defineComponent({
  components: {
    Logo,
    LogoSm,
    TheNoAuthHeaderStep,
    IconClose,
  },

  setup() {
    const router = useRouter()
    const returnUrl: string | object =
      router.currentRoute.value.query['returnUrl'] || '/'
    const handlerCallBackUrl = () => {
      router.push(returnUrl)
    }

    return {
      handlerCallBackUrl,
    }
  },
})
</script>

<template>
  <header class="bg-white fixed top-0 py-2.5 left-0 w-full z-30">
    <div class="container flex justify-between items-center">
      <router-link
        to="/"
        class="
          flex-1 flex-shrink-0
          block
          mr-4
          xl:mr-16
          text-primary
          hover:text-primary
        "
      >
        <Logo class="hidden xl:block the-header__logo" />
        <LogoSm class="block xl:hidden the-header__logo" />
      </router-link>

      <TheNoAuthHeaderStep
        class="flex-shrink-0"
        :total-steps="4"
        :step="1"
      />

      <div class="flex-1 flex-shrink-0 flex">
        <a class="block ml-auto" @click="handlerCallBackUrl">
          <IconClose class="icon text-xl" />
        </a>
      </div>
    </div>
  </header>

  <div class="header-height"></div>
</template>

<style scoped>
.header-height {
  height: 62px;
}

@media (min-width: theme('screens.xl')) {
  .header-height {
    height: 80px;
  }
}
</style>
