.v-alert {
  @apply rounded-lg p-5 xl:p-8;
}

.v-alert__icon {
  font-size: 1.625rem;
}

/* Secondary modifier */
.v-alert--secondary {
  @apply bg-secondary text-primary;
}

/* Blue modifier */
.v-alert--blue {
  @apply bg-forest-70 text-white;
}

/* White modifier */
.v-alert--white {
  @apply bg-white text-forest-70 border-light-stroke;
  box-shadow: 0px 0px 8px rgba(14, 37, 58, 0.11);
}

/* Error, success modifier */
.v-alert--success,
.v-alert--error {
  @apply flex items-start;
}

.v-alert--success {
  @apply text-success border-2 border-success;
  background: linear-gradient(
      0deg,
      rgba(23, 99, 53, 0.05),
      rgba(23, 99, 53, 0.05)
    ),
    #ffffff;
}

.v-alert--error {
  @apply bg-forest-70 text-error border-2 border-error;
  background: linear-gradient(
      0deg,
      rgba(152, 35, 19, 0.05),
      rgba(152, 35, 19, 0.05)
    ),
    #ffffff;
}
