<script lang="ts">
import { defineComponent, PropType, ref, computed, watch } from 'vue'
import { GLOBAL_COMPONENT_PREFIX as PREFIX } from '~/utils/configs'
import { Size } from '~/typings/components'
import { dispatchForCode } from '~/utils/helpers'

export const COMPONENT_NAME = `${PREFIX}switch`

export default defineComponent({
  name: COMPONENT_NAME,

  inheritAttrs: false,

  props: {
    modelValue: Boolean,
    disabled: Boolean,
    size: {
      type: String as PropType<Size>,
      default: 'md',
    },
  },

  emits: ['update:modelValue'],

  setup(props, { emit }) {
    const localChecked = ref(props.modelValue)

    const classes = computed(() => [
      `${COMPONENT_NAME}--${props.size}`,
      {
        [`${COMPONENT_NAME}--disabled`]: props.disabled,
      },
    ])

    watch(
      () => props.modelValue,
      (newValue) => {
        localChecked.value = newValue
      }
    )

    watch(localChecked, (newValue) => {
      emit('update:modelValue', newValue)
    })

    const handleInput = (event: Event) => {
      localChecked.value = (event.target as HTMLInputElement).checked
    }

    const toggleValueByEnter = (code: string | number) => {
      if (code === 13 || code === 'Enter') {
        localChecked.value = !localChecked.value
      }
    }

    return {
      COMPONENT_NAME,
      localChecked,
      classes,
      handleInput,
      toggleValueByEnter,
      dispatchForCode,
    }
  },
})
</script>

<template>
  <label
    tabindex="0"
    :class="[COMPONENT_NAME, classes, $attrs.class]"
    @keypress="(event) => dispatchForCode(event, toggleValueByEnter)"
  >
    <input
      :disabled="disabled"
      v-bind="$attrs"
      type="checkbox"
      class="hidden"
      :class="`${COMPONENT_NAME}__checkbox`"
      :checked="localChecked"
      @input="handleInput"
    />
    <span :class="`${COMPONENT_NAME}__slider`"></span>
  </label>
</template>

<style>
.v-switch {
  @apply relative inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
}

.v-switch__slider {
  @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 rounded-full transition-all;
  background-color: var(--switch-bg);
}

.v-switch__slider::before {
  content: '';
  @apply absolute rounded-full transition-all;
  width: var(--switch-circle-size);
  height: var(--switch-circle-size);
  left: var(--switch-inner-spacer);
  bottom: var(--switch-inner-spacer);
  background-color: var(--switch-circle-bg);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border: 0.5px solid rgba(0, 0, 0, 0.04);
}

.v-switch__checkbox:checked + .v-switch__slider {
  background-color: var(--switch-active-bg);
}

.v-switch__checkbox:checked + .v-switch__slider::before {
  transform: translateX(
    calc(
      (
        var(--switch-width) - var(--switch-circle-size) -
          (var(--switch-inner-spacer) * 2)
      )
    )
  );
  border-color: transparent;
}

.v-switch--disabled {
  @apply pointer-events-none opacity-50;
}

.v-switch:focus {
  outline: none;
}

.v-switch:focus .v-switch__slider {
  box-shadow: 0px 0px 4px #007aff;
}
</style>
