<script lang="ts">
import { defineComponent, computed } from 'vue'
import { GLOBAL_COMPONENT_PREFIX as PREFIX } from '~/utils/configs'
import { setPropSize } from '~/utils/helpers'
import IconClose from '~/assets/images/icons/close.svg?component'

export const COMPONENT_NAME = `${PREFIX}modal`

export default defineComponent({
  name: COMPONENT_NAME,

  components: {
    IconClose,
  },

  inheritAttrs: false,

  props: {
    modelValue: Boolean,
    teleportTo: {
      type: String,
      default: '#modal-container',
    },
    teleportDisabled: Boolean,
    destroyOnClose: Boolean,
    centered: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: '',
    },
    okLoading: Boolean,
    cancelLoading: Boolean,
    footer: {
      type: Boolean,
      default: true,
    },
    header: {
      type: Boolean,
      default: true,
    },
    cancelText: {
      type: String,
      default: 'Cancel',
    },
    okText: {
      type: String,
      default: 'Save',
    },
    headerClass: {
      type: [Object, String, Array],
      default: '',
    },
    bodyClass: {
      type: [Object, String, Array],
      default: '',
    },
    footerClass: {
      type: [Object, String, Array],
      default: '',
    },
    btnCancelProps: {
      type: Object,
      default: () => ({}),
    },
    btnOkProps: {
      type: Object,
      default: () => ({}),
    },
    maskClosable: {
      type: Boolean,
      default: true,
    },
    width: {
      type: [String, Number],
      default: '',
    },
    maxWidth: {
      type: [String, Number],
      default: '',
    },
  },

  emits: ['update:modelValue', 'ok', 'cancel'],

  setup(props) {
    const classes = computed(() => ({
      [`${COMPONENT_NAME}--centered`]: props.centered,
    }))

    return {
      COMPONENT_NAME,
      setPropSize,
      classes,
    }
  },
})
</script>

<template>
  <teleport
    v-if="destroyOnClose ? modelValue : true"
    :to="teleportTo"
    :disabled="teleportDisabled"
  >
    <div
      v-show="modelValue"
      :class="[
        `${COMPONENT_NAME} fixed top-0 left-0 right-0 bottom-0 z-50 outline-none text-center`,
        classes,
      ]"
      v-bind="$attrs"
    >
      <div
        :class="`${COMPONENT_NAME}__backdrop fixed top-0 right-0 bottom-0 left-0 h-full`"
        @click="maskClosable && $emit('update:modelValue', false)"
      ></div>

      <div
        :class="`${COMPONENT_NAME}__dialog relative inline-block text-left w-auto my-12 xl:my-24 mx-3 xl:mx-5`"
        tabindex="-1"
        :style="{ width: setPropSize(width), maxWidth: setPropSize(maxWidth) }"
      >
        <div
          :class="`${COMPONENT_NAME}__content relative flex flex-col w-full bg-white`"
        >
          <div
            v-if="header"
            :class="[`${COMPONENT_NAME}__header flex p-5`, headerClass]"
          >
            <slot name="header">
              <span :class="`mb-0 text-2xl font-bold leading-1.15`">{{
                title
              }}</span>
              <v-button
                variant="white"
                size="xs"
                class="p-0 text-xl text-sea ml-auto"
                @click="$emit('update:modelValue', false)"
              >
                <IconClose class="icon" />
              </v-button>
            </slot>
          </div>

          <div :class="[`relative flex-auto p-5`, bodyClass]">
            <slot />
          </div>

          <div v-if="footer" :class="[`p-5 text-right`, footerClass]">
            <slot name="footer">
              <v-button
                class="mr-2"
                variant="white"
                :loading="cancelLoading"
                v-bind="btnCancelProps"
                @click="$emit('cancel')"
                >{{ cancelText }}</v-button
              >
              <v-button
                :loading="okLoading"
                v-bind="btnOkProps"
                @click="$emit('ok')"
                >{{ okText }}</v-button
              >
            </slot>
          </div>
        </div>
      </div>
    </div>
  </teleport>
</template>

<style>
.v-modal__backdrop {
  background-color: rgba(15, 15, 36, 0.65);
}

.v-modal__dialog {
  min-width: var(--modal-dialog-width);
  max-width: calc(100% - 1.5rem);
}

.v-modal__content {
  border-radius: var(--modal-content-border-radius);
  box-shadow: var(--modal-content-box-shadow);
  border: var(--modal-content-border);
}

.v-modal__header {
  border-bottom: var(--modal-content-border);
}

.v-modal__footer {
  border-top: var(--modal-content-border);
}

.v-modal--centered::before {
  content: '';
  @apply inline-block w-0 h-full align-middle;
}

.v-modal--centered .v-modal__dialog {
  @apply align-middle;
}
</style>
