<script lang="ts">
import { defineComponent } from 'vue'
import { GLOBAL_COMPONENT_PREFIX as PREFIX } from '~/utils/configs'

export const COMPONENT_NAME = `${PREFIX}link`

export default defineComponent({
  name: COMPONENT_NAME,

  props: {
    tag: {
      type: String,
      default: 'a',
    },
  },

  setup() {
    return {
      COMPONENT_NAME,
    }
  },
})
</script>

<template>
  <component :is="tag" :class="COMPONENT_NAME">
    <slot />
  </component>
</template>

<style>
.v-link {
  @apply leading-1.1 text-sea font-bold border-b-2 border-basil align-text-bottom hover:text-sea hover:border-sea active:text-sea-active active:border-sea-active;
}
</style>
