<script lang="ts">
import { defineComponent, computed } from 'vue'
import { GLOBAL_COMPONENT_PREFIX as PREFIX } from '~/utils/configs'

export const COMPONENT_NAME = `${PREFIX}radio`

export default defineComponent({
  name: COMPONENT_NAME,

  inheritAttrs: false,

  props: {
    modelValue: {
      type: [String, Number],
      default: '',
    },
    value: {
      type: [String, Number],
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    disabled: Boolean,
  },

  emits: ['update:modelValue'],

  setup(props, { emit }) {
    const computedValue = computed<string | number>({
      get() {
        return props.modelValue
      },
      set(value) {
        emit('update:modelValue', value)
      },
    })

    const isChecked = computed(() => computedValue.value === props.value)

    return {
      COMPONENT_NAME,
      computedValue,
      isChecked,
    }
  },
})
</script>

<template>
  <label
    :class="[`${COMPONENT_NAME}`, $attrs.class, disabled && `${COMPONENT_NAME}--disabled`]"
  >
    <input
      v-model="computedValue"
      v-bind="$attrs"
      type="radio"
      :value="value"
      :class="`${COMPONENT_NAME}__input hidden`"
    />
    <span :class="`${COMPONENT_NAME}__circle`"></span>

    <slot>{{ label }}</slot>
  </label>
</template>

<style>
.v-radio {
  @apply inline-flex items-center cursor-pointer;
}

.v-radio__circle {
  @apply block relative border border-sea mr-2.5 rounded-full bg-white;
  width: var(--radio-circle-size);
  height: var(--radio-circle-size);
}

.v-radio__circle:before {
  content: '';
  @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-full bg-white transition-all;
  width: 0;
  height: 0;
}

.v-radio__input:checked + .v-radio__circle {
  @apply bg-sea;
}

.v-radio__input:checked + .v-radio__circle:before {
  width: var(--radio-circle-inside-size);
  height: var(--radio-circle-inside-size);
}

.v-radio--disabled {
  @apply opacity-50 pointer-events-none;
}
</style>
