<script lang="ts">
import { defineComponent, ref } from 'vue'
import { DEFAULT_LAYOUT } from '~/utils/configs'
import LayoutDefault from '~/layouts/default.vue'
import LayoutNoAuth from '~/layouts/no-auth.vue'
import LayoutComponents from '~/layouts/components.vue'

export default defineComponent({
  components: {
    'layout-default': LayoutDefault,
    'layout-no-auth': LayoutNoAuth,
    'layout-components': LayoutComponents,
  },

  computed: {
    layout(): string {
      return 'layout-' + (this.$route.meta.layout || DEFAULT_LAYOUT)
    },
  },
})
</script>

<template>
  <component :is="layout">
    <router-view
      v-slot="{ Component }"
      :key="$route.matched?.length > 1 ? $route.matched[0]?.path : $route.path"
    >
      <template v-if="Component">
        <!-- <transition mode="out-in"> -->
        <!-- <keep-alive> -->
        <suspense>
          <component :is="Component"></component>
          <template #fallback>
            <v-spinner></v-spinner>
          </template>
        </suspense>
        <!-- </keep-alive> -->
        <!-- </transition> -->
      </template>
    </router-view>
  </component>
</template>
