@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Calc vars */
    --container-offset-screen: calc(2.5rem / 2);

    /* Button & Input vars */
    --input-btn-line-height: 1.125;

    --input-btn-md-padding-x: 1.125rem;
    --input-btn-md-padding-y: 0.625rem;
    --input-btn-md-font-size: 1rem;

    --input-btn-lg-padding-x: 1.125rem;
    --input-btn-lg-padding-y: 0.875rem;
    --input-btn-lg-font-size: 1.125rem;

    --input-btn-sm-padding-x: 1.125rem;
    --input-btn-sm-padding-y: 0.40625rem;
    --input-btn-sm-font-size: 0.875rem;
    --input-btn-sm-line-height: 1.1;

    /* Modal vars */
    --modal-dialog-width: 296px;
    --modal-content-border-radius: 9px;
    --modal-content-box-shadow: box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    --modal-content-border: none;

    /* Switch vars */
    --switch-width: 3.1875rem;
    --switch-height: 2rem;
    --switch-bg: rgba(120, 120, 128, 0.16);
    --switch-active-bg: theme('colors.forest-70');
    --switch-circle-size: 1.75rem;
    --switch-circle-bg: theme('colors.white');
    --switch-inner-spacer: calc((var(--switch-height) - var(--switch-circle-size))/2);

    /* Radio vars */
    --radio-circle-size: 1.375rem;
    --radio-circle-inside-size: theme('width[2.5]');

    /* Checkbox vars */
    --checkbox-checkmark-size: 1.375rem;
    --checkbox-checkmark-inside-size: theme('width[2.5]');

    /* Pagination vars */
    --pagination-color: theme('colors.sea');
    --pagination-bg: theme('colors.white');
    --pagination-active-color: theme('colors.white');
    --pagination-active-bg: theme('colors.sea');
    --pagination-margin: 1rem;

    /* Spinner vars */
    --spinner-size: 2rem;
    --spinner-size-sm: 0.625rem;
    --spinner-size-lg: 4rem;
  }

  @media (min-width: theme('screens.sm')) {
    :root {
      --container-offset-screen: calc((100vw - 600px) / 2);
    }
  }

  @media (min-width: theme('screens.xl')) {
    :root {
      --container-offset-screen: calc((100vw - 728px) / 2);
    }
  }

  @media (min-width: theme('screens.xl')) {
    :root {
      --container-offset-screen: calc((100vw - 984px) / 2);
    }
  }

  @media (min-width: theme('screens.xl')) {
    :root {
      --container-offset-screen: calc((100vw - 1240px) / 2);
    }
  }

  @font-face {
    font-family: 'Gazpacho';
    font-weight: 700;
    src: url('~/assets/fonts/gazpacho/gazpacho_bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Gazpacho';
    font-weight: 700;
    font-style: italic;
    src: url('~/assets/fonts/gazpacho/gazpacho_bold_italic.ttf')
      format('truetype');
  }

  @font-face {
    font-family: 'Effra';
    font-weight: 400;
    src: url('~/assets/fonts/effra/Effra_Std_Rg.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Effra';
    font-weight: 400;
    font-style: italic;
    src: url('~/assets/fonts/effra/Effra_Std_It.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Effra';
    font-weight: 500;
    src: url('~/assets/fonts/effra/Effra_Std_Md.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Effra';
    font-weight: 500;
    font-style: italic;
    src: url('~/assets/fonts/effra/Effra_Std_MdIt.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Effra';
    font-weight: 700;
    src: url('~/assets/fonts/effra/Effra_Std_Bd.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Effra';
    font-weight: 700;
    font-style: italic;
    src: url('~/assets/fonts/effra/Effra_Std_BdIt.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Effra';
    font-weight: 300;
    src: url('~/assets/fonts/effra/Effra_Std_Lt.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Effra';
    font-weight: 300;
    font-style: italic;
    src: url('~/assets/fonts/effra/Effra_Std_LtIt.ttf') format('truetype');
  }

  html,
  body {
    @apply font-sans leading-tight text-primary;
  }

  a {
    @apply text-primary transition-colors duration-300;
  }

  a:hover {
    @apply text-basil;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold font-serif leading-1.15;
  }
}

/* Typography */
h1,
.h1 {
  font-size: 38px;
}

h2,
.h2 {
  font-size: 28px;
}

h3,
.h3 {
  font-size: 26px;
}

h4,
.h4 {
  font-size: 20px;
}

h5,
.h5 {
  font-size: 17px;
}

@media (min-width: theme('screens.md')) {
  h1,
  .h1 {
    font-size: 46px;
  }

  h2,
  .h2 {
    font-size: 38px;
  }

  h3,
  .h3 {
    font-size: 28px;
  }

  h4,
  .h4 {
    font-size: 26px;
  }

  h5,
  .h5 {
    font-size: 20px;
  }
}

@media (min-width: theme('screens.xl')) {
  h1,
  .h1 {
    font-size: 55px;
  }

  h2,
  .h2 {
    font-size: 46px;
  }

  h3,
  .h3 {
    font-size: 38px;
  }

  h4,
  .h4 {
    font-size: 28px;
  }

  h5,
  .h5 {
    font-size: 22px;
  }
}

#app {
  @apply flex flex-col min-h-screen w-full overflow-hidden;
}
