<script lang="ts">
import { defineComponent } from 'vue'
import TheHeader from '~/components/TheHeader.vue'
import TheFooter from '~/components/TheFooter.vue'

export default defineComponent({
  name: 'LayoutComponents',

  components: {
    TheHeader,
    TheFooter,
  },
})
</script>

<template>
  <TheHeader />

  <div class="container mt-12 mb-32">
    <div class="flex">
      <nav class="w-36 flex-shrink-0 mr-4">
        <ul class="list-disc pl-4">
          <li class="mb-2">
            <router-link to="/components/typography">Typography</router-link>
          </li>
          <li class="mb-2">
            <router-link to="/components/button">Button</router-link>
          </li>
          <li class="mb-2">
            <router-link to="/components/alert">Alert</router-link>
          </li>
          <li class="mb-2">
            <router-link to="/components/cards">Cards</router-link>
          </li>
          <li class="mb-2">
            <router-link to="/components/input">Input</router-link>
          </li>
          <li class="mb-2">
            <router-link to="/components/empty">Empty</router-link>
          </li>
          <li class="mb-2">
            <router-link to="/components/switch">Switch</router-link>
          </li>
          <li class="mb-2">
            <router-link to="/components/radio">Radio</router-link>
          </li>
          <li class="mb-2">
            <router-link to="/components/checkbox">Checkbox</router-link>
          </li>
          <li class="mb-2">
            <router-link to="/components/link">Link</router-link>
          </li>
          <li class="mb-2">
            <router-link to="/components/pagination">Pagination</router-link>
          </li>
          <li class="mb-2">
            <router-link to="/components/spinner">Spinner</router-link>
          </li>
          <li class="mb-2">
            <router-link to="/components/skeleton">Skeleton</router-link>
          </li>
        </ul>
      </nav>

      <div class="flex-grow">
        <slot />
      </div>
    </div>
  </div>

  <TheFooter />
</template>
