<script lang="ts">
import { defineComponent } from 'vue'
import TheHeader from '~/components/TheHeader.vue'
import TheFooter from '~/components/TheFooter.vue'

export default defineComponent({
  name: 'LayoutDefault',

  components: {
    TheHeader,
    TheFooter,
  },
})
</script>

<template>
  <TheHeader />

  <main class="flex-grow flex flex-col">
    <slot />
  </main>

  <TheFooter />
</template>
