<script lang="ts">
import { defineComponent } from 'vue'
import TheNoAuthHeader from '~/components/TheNoAuthHeader.vue'
export default defineComponent({
  name: 'LayoutNoAuth',

  components: {
    TheNoAuthHeader,
  },
})
</script>

<template>
  <TheNoAuthHeader />

  <div class="py-8 bg-eggshell flex-grow">
    <slot />
  </div>
</template>
