<script lang="ts">
import { defineComponent, PropType, computed } from 'vue'
import { GLOBAL_COMPONENT_PREFIX as PREFIX } from '~/utils/configs'
import { SpinnerVariant } from '~/typings/spinner'

export const COMPONENT_NAME = `${PREFIX}skeleton`

export default defineComponent({
  name: COMPONENT_NAME,

  props: {
    variant: {
      type: String as PropType<SpinnerVariant>,
      default: 'loading',
    },
  },

  setup(props) {
    const classes = computed(() => [
      `${COMPONENT_NAME}`,
      `${COMPONENT_NAME}--${props.variant}`,
    ])

    return {
      COMPONENT_NAME,
      classes,
    }
  },
})
</script>

<template>
  <div :class="[COMPONENT_NAME, classes]"></div>
</template>

<style>
.v-skeleton {
  height: 0.75rem;
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.v-skeleton--loading {
  background-image: linear-gradient(
    90deg,
    theme('colors.loading') 25%,
    theme('colors.eggshell') 37%,
    theme('colors.loading') 63%
  );
}

.v-skeleton--forest-70 {
  background-image: linear-gradient(
    90deg,
    theme('colors.forest-70') 25%,
    theme('colors.grey-stroke') 37%,
    theme('colors.forest-70') 63%
  );
}
</style>
