<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({})
</script>

<template>
  <div class="fixed left-0 bottom-0 w-full bottom-bar bg-white">
    <slot />
  </div>
</template>

<style scoped>
.bottom-bar {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  padding: 0.875rem 0;
}
</style>
